main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f0f0f0;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.busca {
    height: 40px;
    width: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.shortcuts {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca .search {
    height: 30px;
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    pointer-events:visible;
}

.caixa {
    height: 320px;
    width: 250px;
    background-color: #f9f9f9;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.3); 
    display: flexbox;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.caixa:hover {
    transform: scale(1.1);
}

.texto {
    top: 10px;
}

.img {
    height: 150px;
    width: 250px;
    position: absolute;
    justify-content:flex-start;

}

.descricao {
    position: absolute;
    bottom: 110px;
    left: 60px;
    font-size: 20px;
    color: #333;
}

